Src/SampArch.Presentation.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="SampArch.Presentation.Configuration" elementFormDefault="qualified" targetNamespace="SampArch.Presentation.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SampArch" type="tns:SampArch.Presentation.Configuration.SampArchCT" />
	<xs:complexType name="SampArch.Presentation.Configuration.AppKeysCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="appKeys" type="tns:SampArch.Presentation.Configuration.DefaultKeyValueCT">
				<xs:annotation>
					<xs:documentation>The DefaultKeyValue Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SampArch.Presentation.Configuration.SampArch.CoreCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="appKeys" type="tns:SampArch.Presentation.Configuration.AppKeysCT">
				<xs:annotation>
					<xs:documentation>The appKeys.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any minOccurs="0" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SampArch.Presentation.Configuration.DefaultKeyValueCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SampArch.Presentation.Configuration.SampArch.BlogCT">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SampArch.Presentation.Configuration.SampArch.IdeasCT">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SampArch.Presentation.Configuration.SampArchCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="sampArch.Blog" type="tns:SampArch.Presentation.Configuration.SampArch.BlogCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="sampArch.Core" type="tns:SampArch.Presentation.Configuration.SampArch.CoreCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="sampArch.Ideas" type="tns:SampArch.Presentation.Configuration.SampArch.IdeasCT" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
